node_modules/
# Ignore root dist, but allow backend-api/dist
/dist/
!backend-api/dist/

# Ignore all Next.js build output and cache
.next/

# Ignore runtime and build artifacts
server.log
error_log.txt
*.sqlite

.env
.env.local
web-dashboard/public/downloads/
